body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 300;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

.title {
  margin: 0;

  color: #383838;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 1.25em;

  &--login {
    text-align: center;
  }

  &--form {
    font-size: 20px;
    text-transform: uppercase;
    color: #3b3d42;
    font-weight: 400;
    margin: 0 0 25px;
  }
}

.btn {
  padding: 12px 20px;

  font-size: 11px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: #fb395c;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  .btn {
    transition: 0.3s;

    &:hover {
      background-color: rgb(255, 95, 130);
    }
  }
}
