.add-product__form {
  padding: 15px 0;
}

.add-product__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.add-product__form-list {
  margin-bottom: 20px;
}

.add-product__label {
  margin-bottom: 8px;
}
