.banners {
  background: grey url(../img/banners-bg.png) no-repeat center center;
  background-size: cover;
}

.banners__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 135px);
  gap: 20px;
  padding: 15px;
}

.banners__offer {
  padding: 20px;

  background-color: #ffffff;
  border-radius: 8px;

  transition: 0.7s;

  &--fullscreen {
    background-color: #fbf3ef;
  }

  &--big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  &--medium {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 0;
  }

  &--small {
    padding: 15px;
  }

  &--upper-title {
    padding-top: 5px;
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.banners__link {
  color: #383838;
  text-decoration: none;

  &--fullscreen {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    padding-left: 10px;

    background: right / cover no-repeat url("../img/create-box.webp");
  }

  &--big-offer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;

    background: grey url(../img/green-leaves@1x.webp) no-repeat center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: grey url("../img/green-leaves@2x.webp") no-repeat center
        center;
      background-size: cover;
    }
  }

  &--medium-offer {
    display: flex;
    height: 100%;
  }

  &--small-offer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.banners__offer-wrapper {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: grey url(../img/anybox-box@1x.webp) no-repeat center center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: grey url("../img/anybox-box@2x.webp") no-repeat center center;
    background-size: cover;
  }
}

.banners__offer-big-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;

  background-color: #fffdc7;
  border-radius: 7px;

  &--radius {
    border-radius: 0 0 7px 7px;
  }
}

.banners__title {
  margin: 0;

  font-size: 16px;
  text-transform: capitalize;
  text-align: center;

  &--lower {
    position: absolute;
    left: 50%;
    bottom: -19px;

    margin-left: -50px;

    font-size: 9px;
    color: #939292;
  }

  &--upper {
    font-size: 10px;
  }
}

.banners__text-adv {
  margin: 0;

  font-size: 10px;
}

.banners__text-special {
  margin: 0;

  font-size: 12px;
  text-transform: uppercase;
}

.banners__text-price {
  margin: 0;

  font-size: 10px;
  color: #939292;

  &--red {
    color: #fb395c;
  }
}

.banners__text-delivery {
  position: absolute;
  left: 50%;
  bottom: 0;

  padding: 10px;
  width: 130px;
  margin-left: -70px;

  font-size: 10px;
  text-align: center;

  background-color: white;
  border-radius: 8px 8px 0 0;

  &--left-corner {
    left: 110px;

    background-color: #fbf3ef;
  }
}

.banners__img-block {
  width: 60%;
}

.banners__img {
  object-fit: cover;
  width: max-content;

  &--medium {
    height: 100%;

    border-radius: 8px 0 0 8px;
  }

  &--small {
    height: 92px;
  }
}

.banners__desc-block {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banners__tect-occasions {
  margin: 0 -15px;
  padding: 5px 0;

  font-size: 12px;
  text-align: center;
  line-height: 14px;
  font-weight: 700;

  background-color: #ffe4d1;
}

@media (min-width: $tablet-width) {
  .banners__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 165px);
    padding: 45px 20px;
  }

  .banners__offer {
    &--big {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &--medium {
      grid-column: 3/5;
      grid-row: 1/2;
    }
  }

  .banners__title--upper {
    font-size: 14px;
  }

  .banners__img--small {
    height: 123px;
  }
}

@media (min-width: $desktop-width) {
  .banners {
    background-attachment: fixed;
  }

  .banners__wrapper {
    @include desktop-wrapper;
    grid-template-rows: repeat(2, 270px);
  }

  .banners__offer {
    padding: 40px;

    &--medium {
      padding: 0;
    }

    &--small {
      padding: 30px;
    }

    &--upper-title {
      padding-top: 10px;
    }
  }

  .banners__offer-big-block {
    padding: 25px;
    gap: 15px;

    border-radius: 15px;

    &--radius {
      border-radius: 0 0 15px 15px;
    }
  }

  .banners__text-adv {
    font-size: 14px;
  }

  .banners__title {
    font-size: 24px;

    &--lower {
      bottom: -25px;

      margin-left: -60px;

      font-size: 12px;
    }
  }

  .banners__text-special {
    font-size: 16px;
  }

  .banners__text-price {
    font-size: 16px;
  }

  .banners__text-delivery {
    width: 170px;
    margin-left: -95px;

    font-size: 14px;

    &--left-corner {
      left: 185px;
    }
  }

  .banners__desc-block {
    gap: 10px;
  }

  .banners__tect-occasions {
    margin: 0 -30px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 20px;
  }

  .banners__link {
    &--small-offer {
      gap: 10px;
    }

    &--fullscreen {
      padding-left: 20px;
      height: 270px;
    }
  }

  .banners__img--small {
    height: 200px;
  }
}
