.order {
  padding: 20px 0;
}

.order__cart,
.order__delivery,
.order__payment,
.order__personal-info {
  margin-bottom: 30px;
  border-bottom: 3px dotted #a3c6da;
}

.order__subtitle {
  margin: 0 0 20px;

  color: #383838;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.25em;
}

.order__empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  text-align: center;
}

.order__empty-cart-text {
  font-size: 14px;
}

.order__empty-cart-btn {
  text-decoration: none;
}

.order__cart-list {
  @include reset-list;
}

// .order__cart-item {
//   display: grid;
//   row-gap: 10px;
//   align-items: start;
//   grid-template-columns: 30% 70%;
//   grid-template-rows: 20px auto 50px;
// }

.order__cart-form-fieldset {
  display: grid;
  row-gap: 10px;
  align-items: start;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20px auto 50px;
  border: none;
}

.order__cart-img-link {
  position: relative;

  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  width: 100%;
  padding-top: 115%;
}

.order__cart-img {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
}

.order__cart-desc {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 15px;
}

.order__cart-product-title {
  margin: 0 0 8px;

  line-height: 20px;
  font-weight: 400;
}

.order__cart-product-link {
  color: #3b3d42;
  text-decoration: none;
}

.order__cart-modifications-list {
  @include reset-list;
  font-size: 12px;
  color: #8b8b8b;

  border-collapse: collapse;
}

.order__cart-modifications-row {
  margin: 0;
}

.order__cart-item-qty {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__cart-qty-block {
  display: flex;
  margin-bottom: 10px;
}

.order__cart-item-btn {
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: 1px solid #d0cece;
  border-radius: 50%;

  &--dec {
    margin-right: 5px;
  }
}

.order__cart-qty-field {
  width: 20px;
  margin-right: 5px;

  text-align: center;
  border: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

// .order__cart-form-delete {
//   justify-self: end;
// }

.order__cart-btn-delete {
  justify-self: end;
  background-color: transparent;
  border: none;
}

.order__cart-delete-word {
  display: none;
}

.order__cart-delete-icon {
  fill: #b9b3b3;
}

.order__cart-item-price {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  padding-left: 15px;
}

.order__cart-total-price {
  margin: 0 10px 0 0;

  font-size: 16px;
  font-weight: 700;
}

.order__cart-per-unite-price {
  margin: 0;

  font-size: 12px;
  color: #8b8b8b;
}

.order__delivery-list {
  margin-bottom: 30px;
}

.order__confirmation-costs-table {
  width: 100%;
}

.order__confirmation-costs-row,
.order__confirmation-details-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.order__confirmation-costs-row--total {
  color: #383838;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.25em;
  font-weight: 700;
}

.order__confirmation-input-value {
  border: none;
  text-align: right;

  font-weight: 700;
}

.order__confirmation-details-value {
  margin-right: 20px;

  font-size: 16px;
  font-weight: 700;
}

.order__confirmation-details-key {
  color: #fb395c;
}

.order__confirmation-btn {
  width: 100%;
  margin-bottom: 20px;
}

.order__confirmation-post-msg {
  margin: 0 0 20px;
  padding: 5px;

  text-align: center;
  font-size: 12px;
  font-style: italic;

  border: 1px solid #ebeced;
}

.order__confirmation-terms {
  position: relative;

  margin: 0;
  padding-left: 25px;

  &::before {
    position: absolute;
    top: 3px;
    left: 0;

    content: "";
    width: 16px;
    height: 16px;

    border: 1px solid #ebeced;
    border-radius: 4px;
    background: url(../img/icon-check-mark.svg) no-repeat center center;
    background-size: 12px;
  }
}

@media (min-width: $tablet-width) {
  .order__empty-cart {
    width: 300px;
    margin: 0 auto;
  }

  // .order__cart-item {
  //   margin-bottom: 20px;
  //   grid-template-columns: 10% 50% 20% 20%;
  //   grid-template-rows: 1fr auto;

  //   &:nth-last-child(1) {
  //     margin-bottom: 0;
  //   }
  // }

  .order__cart-form-fieldset {
    margin-bottom: 20px;
    grid-template-columns: 10% 50% 20% 20%;
    grid-template-rows: 1fr auto;
  }

  .order__cart-desc {
    grid-row: 1/3;
  }

  .order__cart-modifications-list {
    font-size: 14px;
  }

  .order__cart-item-qty {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .order__cart-item-btn {
    width: 34px;
    height: 34px;
  }

  .order__cart-qty-field {
    width: 34px;

    font-size: 18px;
    line-height: 24px;
  }

  .order__cart-item-price {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    flex-direction: column;

    text-align: right;
  }

  .order__cart-total-price {
    margin: 0 0 10px;

    font-size: 24px;
  }

  .order__cart-per-unite-price {
    font-size: 14px;
  }

  .order__cart-form-delete {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .order__delivery-adress-list {
    margin-bottom: 0;
  }

  .order__cart-btn-delete {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .order {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .order__form {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 314px;
  }

  .order__cart,
  .order__delivery,
  .order__payment,
  .order__personal-info {
    padding: 20px;
    grid-column: 1/2;
    margin-bottom: 10px;

    border: 1px solid #d0cece;
    border-radius: 20px;
  }

  .order__cart-delete-icon:hover {
    fill: #ff5f82;
  }

  .order__personal-info {
    margin-bottom: 0;
  }

  .order__confirmation {
    position: sticky;
    top: 0;

    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: start;

    border: 1px solid #d0cece;
    border-radius: 20px;
  }

  .order__cart-item:hover .order__cart-btn-delete {
    opacity: 1;
  }

  .order__cart-product-link {
    transition: 0.3s;

    &:hover {
      color: #fb395c;
    }
  }

  .order__cart-item-btn {
    cursor: pointer;
  }

  .order__cart-btn-delete {
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
  }
}
