.categories__title {
  margin-bottom: 34px;

  text-align: center;
}

.categories__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
  gap: 20px;
}

.categories__item {
  margin-bottom: 15px;
}

.categories__link {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100%;
  margin-bottom: 15px;

  text-decoration: none;
}

.categories__link:hover ~ .categories__item-title .categories__item-title-link {
  color: #fb395c;
}

.categories__item-title {
  margin: 0;

  font-size: 18px;
  text-transform: capitalize;
  line-height: 1.2416em;
  text-align: center;
}

.categories__item-title-link {
  color: #383838;

  transition: 0.3s ease;

  &:hover {
    color: #fb395c;
  }
}

.categories__item-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin-bottom: 11px;

  border-radius: 10px;

  aspect-ratio: 1/1;
  obect-fit: cover;
}

@media (min-width: $tablet-width) {
  .categories__list {
    grid-template-columns: repeat(4, minmax(169px, 1fr));
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    grid-template-columns: repeat(4, minmax(232px, 1fr));
  }
}
