.elementor-divider {
  display: flex;
  padding: 0 20px;

  &--no-margin {
    margin-bottom: 0;
  }

  &--no-indent {
    margin-bottom: 0;
    padding: 0;
  }
}

.elementor-divider__separator {
  width: 100%;
  border-top: 3px dotted #a3c6da;
}
