.form-elements__container {
  display: flex;
  width: 100%;
  padding: 30px;

  border: 1px solid #ebeced;
  border-radius: 3px;
  box-sizing: border-box;

  &--column {
    flex-direction: column;
  }
}

.form-elements__title {
  font-size: 20px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #3b3d42;
  font-weight: 400;

  margin: 0 0 25px;
}

.form-elements__list {
  @include reset-list;

  display: grid;
  gap: 10px;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));

  &--column {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.form-elements__category-list {
  @include reset-list;
}

.form-elements__item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  &--column {
    align-items: flex-start;
    flex-direction: column;
  }

  &--param {
    align-items: stretch;
  }

  &--parent {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: -8px;

      content: "";

      width: 1px;
      height: 5px;
      background-color: black;
    }

    &::after {
      top: 7px;
      transform: rotate(45deg);
    }

    &::before {
      top: 10px;
      transform: rotate(-45deg);
    }
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.form-elements__category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--current {
    background-color: #e5efff;
  }

  &--child {
    margin-left: 15px;
  }
}

.form-elements__category-link {
  position: relative;

  padding: 5px;

  color: #3b3d42;
  text-decoration: none;
  transition: 0.3s;

  &--parent {
    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: -8px;

      content: "";

      width: 1px;
      height: 5px;
      background-color: black;
    }

    &::after {
      top: 12px;
      transform: rotate(45deg);
    }

    &::before {
      top: 15px;
      transform: rotate(-45deg);
    }

    &:hover::after,
    &:hover::before {
      animation: arrow-move 1s;
    }
  }

  &--add {
    text-decoration: underline;
  }

  &:hover {
    color: #fb395c;
    fill: #fb395c;
  }
}

.form-elements__dash {
  padding: 6px 20px;
}

.form-elements__input-text,
.form-elements__text-area {
  padding: 8px 12px;
  width: 100%;

  border: 1px solid #ebeced;
  border-radius: 3px;
  box-sizing: border-box;

  &--with-icon {
    margin-right: 10px;
  }

  &--error {
    border-color: #fb395c;
  }

  &:focus {
    outline: green solid 1px;
  }

  &::-webkit-input-placeholder {
    color: #adadad;
  }
}

.form-elements__input-text--param {
  width: 45%;
}

.form-elements__text-area {
  font-size: 14px;
  line-height: 1.6em;

  resize: vertical;

  &:focus {
    outline: green solid 1px;
  }
}

.form-elements__label-text {
  margin-bottom: 8px;
}

.form-elements__label-text-required {
  color: #fb395c;
}

.form-elements__label-checkbox,
.form-elements__label-radio {
  position: relative;

  text-transform: capitalize;

  cursor: pointer;
}

.form-elements__label-checkbox {
  padding-left: 30px;

  color: #fb395c;

  &::before {
    position: absolute;
    top: 3px;
    left: 0;

    content: "";

    width: 16px;
    height: 16px;
    border: 1px solid #ebeced;
    border-radius: 4px;
  }
}

.form-elements__label-radio {
  padding-left: 50px;

  &::before {
    position: absolute;
    left: 0;
    top: -5px;

    width: 28px;
    height: 28px;

    content: "";
    border: 1px solid #cecece;
    border-radius: 50%;
  }
}

.form-elements__input-radio:checked ~ .form-elements__label-radio::after {
  position: absolute;
  left: 9px;
  top: 4px;

  width: 12px;
  height: 12px;

  content: "";
  border-radius: 50%;
  background-color: #6fb02e;
}

.form-elements__input-checkbox:checked ~ .form-elements__label-checkbox {
  color: #3b3d42;
}

.form-elements__input-checkbox:checked
  ~ .form-elements__label-checkbox::before {
  background: url(../img/icon-check-mark.svg) no-repeat center center;
  background-size: 12px;
}

.form-elements__image-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-elements__image-item--new {
  align-self: flex-end;
}

.form-elements__image-wrapper {
  position: relative;

  width: 120px;
  padding-top: 100%;
}

.form-elements__image-preview,
.form-elements__label-file {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 20px;
}

.form-elements__label-file {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ebeced;

  cursor: pointer;
}

.form-elements__input-file {
  display: none;

  &:active {
    display: none;
  }
}

.form-elements__img-add {
  width: 85%;
  height: 85%;
  fill: #ddddde;
}

@media (min-width: $tablet-width) {
  .form-elements__image-list {
    justify-content: flex-start;
  }
}
