.form-elements__container {
  display: flex;
  width: 100%;
  padding: 30px;

  border: 1px solid #ebeced;
  border-radius: 3px;
  box-sizing: border-box;

  &--column {
    flex-direction: column;
  }
}

.form-elements__title {
  font-size: 20px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #3b3d42;
  font-weight: 400;

  margin: 0 0 25px;
}

.form-elements__list {
  @include reset-list;

  display: grid;
  gap: 10px;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));

  &--column {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.form-elements__item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  &--column {
    align-items: flex-start;
    flex-direction: column;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.form-elements__dash {
  padding: 0 20px;
}

.form-elements__input-text,
.form-elements__text-area {
  padding: 8px 12px;
  width: 100%;

  border: 1px solid #ebeced;
  border-radius: 3px;
  box-sizing: border-box;

  &--with-icon {
    margin-right: 10px;
  }

  &:focus {
    outline: green solid 1px;
  }

  &::-webkit-input-placeholder {
    color: #adadad;
  }
}

.form-elements__text-area {
  font-size: 14px;
  line-height: 1.6em;

  border: 1px solid #ebeced;
  resize: vertical;

  &:focus {
    outline: green solid 1px;
  }
}

.form-elements__label-text {
  margin-bottom: 8px;
}

.form-elements__label-text-required {
  color: #fb395c;
}

.form-elements__label-checkbox,
.form-elements__label-radio {
  position: relative;

  text-transform: capitalize;

  cursor: pointer;
}

.form-elements__label-checkbox {
  padding-left: 30px;

  color: #fb395c;

  &::before {
    position: absolute;
    top: 3px;
    left: 0;

    content: "";

    width: 16px;
    height: 16px;
    border: 1px solid #ebeced;
    border-radius: 4px;
  }
}

.form-elements__label-radio {
  padding-left: 50px;

  &::before {
    position: absolute;
    left: 0;
    top: -5px;

    width: 28px;
    height: 28px;

    content: "";
    border: 1px solid #cecece;
    border-radius: 50%;
  }
}

.form-elements__input-radio:checked ~ .form-elements__label-radio::after {
  position: absolute;
  left: 9px;
  top: 4px;

  width: 12px;
  height: 12px;

  content: "";
  border-radius: 50%;
  background-color: #6fb02e;
}

.form-elements__input-checkbox:checked ~ .form-elements__label-checkbox {
  color: #3b3d42;
}

.form-elements__input-checkbox:checked
  ~ .form-elements__label-checkbox::before {
  background: url(../img/icon-check-mark.svg) no-repeat center center;
  background-size: 12px;
}
