.page-main__about-us {
  margin-bottom: 30px;
  padding: 80px 20px;
}

.page-main__elementor-divider {
  margin-bottom: 80px;
}

.page-main__categories {
  @include mobile-margins;
}

.page-main__product-list {
  @include mobile-margins;
}

.page-main__big-banner {
  @include mobile-margins;
}

.page-main__product-slider {
  margin-bottom: 80px;
}

@media (min-width: $desktop-width) {
  .page-main__about-us {
    @include desktop-wrapper;
    margin-bottom: 20px;
    padding: 80px 20px;
  }

  .page-main__categories {
    @include desktop-wrapper;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .page-main__elementor-divider {
    @include desktop-wrapper;
    margin-bottom: 80px;
  }

  .page-main__product-list {
    @include desktop-wrapper;
    margin-bottom: 80px;
  }

  .page-main__big-banner {
    @include desktop-wrapper;
    margin-bottom: 80px;
  }

  .page-main__product-slider {
    @include desktop-wrapper;
    margin-bottom: 79px;
  }
}
