.page-main__about-us {
  padding: 0 15px;
  margin-bottom: 80px;
}

.page-main__elementor-divider {
  margin-bottom: 80px;
}

.page-main__categories {
  padding: 0 15px;
  margin-bottom: 80px;
}

.page-main__product-list {
  padding: 0 15px;
}

@media (min-width: $desktop-width) {
  .page-main__about-us {
    padding: 0 20px;
  }

  .page-main__categories {
    @include desktop-wrapper;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .page-main__elementor-divider {
    @include desktop-wrapper;
    margin-bottom: 80px;
  }
}
