.product-list__title {
  margin-bottom: 34px;

  text-align: center;
}

.product-list__list {
  display: grid;
  gap: 30px;

  @include reset-list;
}

.product-list__list-item {
  display: flex;
  align-items: center;
}

.product-list__desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  width: 100%;
  max-width: calc(100% - 152px);
}

.product-list__category-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 5px;

  @include reset-list;
}

.product-list__category-list-item {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.6em;
  text-align: right;
}

.product-list__category-list-link {
  color: #a4a9ab;
  text-decoration: none;

  transition: 0.3s;

  &:hover,
  &:active {
    color: #fb395c;
  }
}

.product-list__prdocut-title {
  margin: 0;
  max-height: 75px;

  font-size: 16px;
  line-height: 1.6em;
  text-align: right;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.product-list__prdocut-title-link {
  color: #383838;
  text-decoration: none;

  transition: 0.3s;

  &:hover,
  &:active {
    color: #fb395c;
  }
}

.product-list__price {
  margin: 0;

  color: #a4a9ab;
  font-size: 13px;
}

.product-list__img {
  width: 132px;
  height: 132px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

@media (min-width: $tablet-width) {
  .product-list__list {
    grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
  }
}
