.products {
  padding-top: 30px;

  border-top: 1px solid #ebeced;
}

.products__title {
  margin-bottom: 35px;
}

.products__list {
  @include reset-list;

  margin-bottom: 30px;
}

.products__list-item {
  padding: 30px;
  margin-bottom: 30px;

  border: 1px solid #ebeced;
  border-radius: 3px;

  &--add-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.products__img-link {
  position: relative;

  display: flex;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 16px;
}

.products__img {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 3px;

  &--add-product {
    fill: #ddddde;
  }
}

.products__item-title {
  margin: 0 0 10px;

  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.57em;
  text-align: left;
}

.products__title-link {
  color: #3b3d42;
  text-decoration: none;
}

.products__price-block {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1em;
  color: #3b3d42;
  text-align: left;
}

.products__btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products__action-btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;

  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
}

.products__action-img {
  margin-right: 7px;

  fill: white;
}

.proucts__action-word {
  vertical-align: text-bottom;
}

@media (min-width: $tablet-width) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
    gap: 20px;
  }

  .products__list-item {
    margin-bottom: 0;
  }

  .products__title-link {
    transition: 0.3s;

    &:hover {
      color: #fb395c;
    }
  }
}
