.product-list__title {
  margin-bottom: 34px;

  text-align: center;
}

.product-list__list {
  display: grid;
  gap: 30px;

  @include reset-list;
}

.product-list__list-item {
  display: flex;
  align-items: center;
}

.product-list__img {
  width: 132px;
  height: 132px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

@media (min-width: $tablet-width) {
  .product-list__list {
    grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
  }
}
