.product-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-slider__title {
  text-align: center;
  margin-bottom: 26px;
}

.product-slider__container {
  width: 100%;
}

.product-slider__wrapper {
  margin-bottom: 25px;

  overflow: hidden;
}

.product-slider__list {
  display: flex;
  width: 100%;

  @include reset-list;
}

.product-slider__item {
  position: relative;

  width: 100%;
  padding: 15px;
}

.product-slider__img-wrapper {
  position: relative;
}

.product-slider__img-link {
  display: flex;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
}

.product-slider__img {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}

.product-slider__rating-stars {
  display: flex;

  @include reset-list;
}

.product-slider__rating-item {
}

.product-slider__rating-img {
  fill: #e2e2e2;

  &--gold {
    fill: #fdbc32;
  }
}

.product-slider__action-popup {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;

  margin: auto;
  width: fit-content;

  opacity: 0.8;
  background-color: #383838;
  border-radius: 30px;
  transition: 0.3s;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.product-slider__action-img {
  fill: #ffffff;
}

.product-slider__action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;

  text-decoration: none;
}

.product-slider__action-popup:hover,
.product-slider__action-popup:active {
  background-color: #a4a9ab;
}

.product-slider__action-popup:hover .prouct-slider__action-word,
.product-slider__action-popup:active .prouct-slider__action-word,
.product-slider__action-popup:hover .product-slider__action-img,
.product-slider__action-popup:active .product-slider__action-img {
  color: #fbf3ef;

  fill: #fbf3ef;

  transition: 0.3s;
}

.prouct-slider__action-word {
  color: white;
  text-transform: uppercase;
}

.product-slider__toggles-list {
  display: flex;
  justify-content: center;

  @include reset-list;
}

.product-slider__toggles-list li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;

  background-color: #e5e5e5;

  cursor: pointer;

  &[data-toggle-status="active"] {
    background-color: #ffc0b8;
    cursor: initial;
  }
}

@media (min-width: $desktop-width) {
  .product-slider__action-popup {
    opacity: 0;
  }

  .product-slider__img-link:hover ~ .product-slider__action-popup {
    opacity: 1;
  }
}
