.product-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-slider__title {
  text-align: center;
  margin-bottom: 26px;
}

.product-slider__container {
  width: 100%;
}

.product-slider__wrapper {
  margin-bottom: 25px;

  overflow: hidden;
}

.product-slider__list {
  display: flex;
  width: 100%;

  @include reset-list;
}

.product-slider__item {
  position: relative;

  width: 100%;
  padding: 15px;
}

.product-slider__img-wrapper {
  position: relative;
}

.product-slider__img-link {
  display: flex;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 10px;
}

.product-slider__img {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}

.product-slider__rating-stars {
  display: flex;

  @include reset-list;
}

.product-slider__rating-img {
  fill: #e2e2e2;

  &--gold {
    fill: #fdbc32;
  }
}

.product-slider__btn-form {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;

  transition: 0.3s;
}

.product-slider__action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  margin: auto;

  font-weight: 700;

  opacity: 0.9;
  background-color: #383838;
  border-radius: 30px;
  transition: 0.3s;
  border: none;

  &--sold-out {
    background-color: #ebebeb;
  }

  &--in-cart {
    width: fit-content;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #71af2e;
  }
}

.product-slider__action-img {
  fill: #ffffff;
}

// .product-slider__btn-form:hover .prouct-slider__action-word,
// .product-slider__btn-form:active .prouct-slider__action-word,
// .product-slider__btn-form:hover .product-slider__action-img,
// .product-slider__btn-form:active .product-slider__action-img {
//   color: #fbf3ef;

//   fill: #fbf3ef;

//   transition: 0.3s;
// }

.prouct-slider__action-word {
  margin: 0;

  color: white;
  text-transform: uppercase;

  &--sold-out {
    color: #383838;
  }
}

.prouct-slider__words-block {
  display: flex;
  gap: 5px;
}

.prouct-slider__action-word-proceed {
  font-size: 14px;
  text-transform: none;
  text-decoration: underline;
  font-weight: 400;
}

.product-slider__toggles-list {
  display: flex;
  justify-content: center;

  @include reset-list;
}

.product-slider__toggles-list li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;

  background-color: #e5e5e5;

  cursor: pointer;

  &[data-toggle-status="active"] {
    background-color: #ffc0b8;
    cursor: initial;
  }
}

@media (min-width: $desktop-width) {
  .product-slider__btn-form {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .product-slider__img-link:hover ~ .product-slider__btn-form {
    opacity: 0.9;
  }

  .product-slider__action-btn {
    cursor: pointer;
  }
}
